language: cpp
dist: bionic
os: linux
sudo: required

cache:
  - directories:
      - $HOME/.cache

common_sources: &all_sources
  - sourceline: "ppa:ubuntu-toolchain-r/test"
  - sourceline: "deb http://apt.llvm.org/bionic/ llvm-toolchain-bionic main"
    key_url: "https://apt.llvm.org/llvm-snapshot.gpg.key"

jobs:
  include:
    - os: linux
      name: "GCC 8 / LLVM 10 @ Ubuntu"
      compiler: gcc
      addons: &clang100
        apt:
          packages:
            - g++-8
            - llvm-10-dev
            - libclang-10-dev
            - clang-format-10
            - clang-tidy-10
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-bionic-10
            - sourceline: "deb http://apt.llvm.org/bionic/ llvm-toolchain-bionic-10 main"
              key_url: "https://apt.llvm.org/llvm-snapshot.gpg.key"
      env: COMPILER='g++-8' LLVM_CONFIG='/usr/bin/llvm-config-10' COVERAGE='No' STATIC='No' DEBUG='No' TIDY='No'

install:
  # (fake) install dependencies (usually involves wget, configure, make, ...)
  # install into cache folder (build binaries+headers only, no sources and do NOT build there)
  - mkdir -p $HOME/.cache

script: sudo chmod +x build_tests.sh && sudo -E env "PATH=$PATH" ./build_tests.sh building

after_success:
  # Create lcov report
  # capture coverage info
  - lcov --directory . --capture --output-file coverage.info
  # filter out system and extra files.
  # To also not include test code in coverage add them with full path to the patterns: '*/tests/*'
  # - lcov --remove coverage.info '/usr/*' "${HOME}"'/.cache/*' --output-file coverage.info
  # output coverage data for debugging (optional)
  # - lcov --list coverage.info
  # Uploading to CodeCov
  # '-f' specifies file(s) to use and disables manual coverage gathering and
  # file search which has already been done above
  - bash <(curl -s https://codecov.io/bash) -t 43267e87-5aeb-41fd-b0c9-d7c3d2e2237a -f coverage.info || echo "Codecov didnot collect coverage reports"

notifications:
  email:
    - marcos.horro@udc.es
