language: cpp
dist: bionic
os: linux
sudo: required

cache:
  - directories:
      - $HOME/.cache

jobs:
  include:
    - os: linux
      name: "GCC 8 / GCC 9 / GCC 10 / LLVM 12 @ Ubuntu"
      compiler: gcc
      addons: &clang100
        apt:
          packages:
            - g++-8
            - gcc-8
            - g++-9
            - gcc-9
            - gcc-10
            - g++-10
            - llvm-12-dev
            - libclang-12-dev
            - clang-format-12
            - clang-tidy-12
            - doxygen
            - lcov
            - graphviz # for dot package Doxygen
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-bionic-12
            - sourceline: "deb http://apt.llvm.org/bionic/ llvm-toolchain-bionic-12 main"
              key_url: "https://apt.llvm.org/llvm-snapshot.gpg.key"
      env: COMPILER='g++-8'

install:
  # Install into cache folder (build binaries + headers only, no sources and do NOT build there)
  - mkdir -p $HOME/.cache

script:
  # Give permissions to script
  - sudo chmod +x build.sh
  # Building project and perform testing
  - sudo -E env "PATH=$PATH" ./build.sh

after_success:
  - sudo chmod +x code_coverage.sh
  - ./code_coverage.sh

notifications:
  email:
    - marcos.horro@udc.es
